<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="money.android.bignerdranch.com.moneytracker">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/moneylogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".UI.utils.MoneyTrackerAplication">
        <meta-data android:name="AA_DB_NAME" android:value="MoneyTracker.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />

        <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
        <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
        <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

        <activity
            android:name=".UI.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".UI.utils.AddExpensesActivity_"
                  android:parentActivityName=".UI.MainActivity"
                    android:label="@string/add_new_expenses">
        </activity>
        <activity android:name=".UI.utils.AddCategoryActivity_"
                  android:parentActivityName=".UI.MainActivity"
                  android:label="@string/add_category_header">
        </activity>

        <activity android:name=".UI.RegistratioActivity_"
            android:parentActivityName=".UI.MainActivity"
            android:label="@string/reg_user_header">

        </activity>

        <activity android:name=".UI.SplashActivity_"
            android:theme="@style/CardView.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <!-- Permissions required by the sync adapter -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>